{% extends "base.html" %}
{% block title %}2021年02月份北捷流量{% endblock %}
{% block headmessage %}<h1>2021年02月份人流折線圖</h1>{% endblock %}
{% block content %}

<div style="text-align: center; width: auto;">
<input type ="button" style="text-align: center; font-family: DFKai-sb; font-size: 25px; border-radius: 20px; background-color: lightgray;width: 200px;height: 50px;" onclick="history.back()" value="回到上一頁"></input>
</div>
<canvas id="myChart" style="background-color: rgba(245, 245, 245, 0.8); opacity: 1;" width="400" height="250"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [
        {% for d in visitor_data %}
            '{{ d.date }}',
        {% endfor %}
        ],
        datasets: [{
            label: '2021年02月份統計數據',
            data: [
            {% for d in visitor_data %}
                {{ d.number }},
            {% endfor %}
            ],
            backgroundColor: [
                'rgba(0, 0, 0, 1)'
            ],
            borderColor: [
                'rgba(0, 0, 0, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
{% endblock %}